#mycanvas{
    border: 10px solid black;
    display: block;
    margin: 0 auto;
}
body {
    background-color: darkslategrey;
}
@media screen and (max-width: 600px) {
    /* CSS rules for small screens go here */
  }
  